div#my-player {
      width: 100%;
  height: 300px;
  position: absolute;
  z-index: 99;
}

.leftd {
  position: relative;
  /* margin: auto; */
  clear: both;
  float: left;
  width: 500px;
  /* padding-left: 40px; */
}

div#news {
  /* text-align: center; */
  /* margin: auto; */
  position: absolute;
  left: 50%;
  margin-left: -250px;
  width: 500px;
}


div#dmscreen-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #dfdfdf;
    overflow: hidden;
}

.micecream.m-small img {
  height: 200px;
  width: 90px;
  position: absolute;
  top: 50%;
  margin-top: -80px;
  left: 50%;
  margin-left: 250px;
}

div.head-img {
  transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
  height: 204px;
  left: 0;
  right: 0;
  min-width: 1200px;
  background: url(/img/dmscreenhead.png) center top no-repeat;
  -moz-box-shadow: 0 0 5px #000;
  -webkit-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
  overflow: hidden;
}

 .user-icon-single img {
  width: 50px;
  height: 50px;
}

.mobile-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000 url(/img/mobile-input.jpg) no-repeat;
  background-size: 100%;
}

.mobile-input-box {
  position: absolute;
  width: 100%;
  height: 100px;
  top: 60%;
  margin-top: -50px;
}

.mobile-input-box .centerinput {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}



div.user-icon {
  position: relative;
  width: 300px;
  height: 120px;
  margin: 0px 100px 0px 100px;
}

.user-icon-single {
  width: 54px;
  position: relative;
  float: left;
  margin: 3px;
  border: 2px solid #f6f6f6;
}

.user-icon-single.user-icon-clicked {
  border: 2px solid #f00;
}


div.centerinput.container div.centerinput {
  height: 45px;
  margin: 10px 0 10px 0;
  position: relative;
  width: 100%;
}

div.centerinput.container {
  background-color: #f9f9f9;
  width: 500px;
  height: 240px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -120px auto auto -250px;
  border: 1px solid #CCC;
  padding: 40px 0 0;
}

div.centerinput{
    width:40%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

form.centerinput {
    margin: -160px auto auto -250px;
    height: 280px;
    width: 500px;
    top: 50%;
    left: 50%;
    position: absolute;
    border: 1px solid #ccc;
    background-color: #f6f6f6;
}

form.centerinput:first-child{ 
    padding-top: 10px;
}

form.centerinput:last-child{ 
    margin-bottom: 30px;
}

strong{
    font-size: 20px;
    color: #999;
}

div.speech {
    margin: 10px 0;
    padding: 8px;
    table-layout: fixed;
    word-break: break-all;
    position: relative;
    background: -webkit-gradient( linear, 50% 0%, 50% 100%, from(#ffffff), color-stop(0.1, #ececec), color-stop(0.5, #dbdbdb), color-stop(0.9, #dcdcdc), to(#8c8c8c) );
    border: 1px solid #989898;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
div.speech:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 15px;
    top: -20px;
    border: 10px solid;
    border-color: transparent transparent #989898 transparent;
}
div.speech:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 17px;
    top: -16px;
    border: 8px solid;
    border-color: transparent transparent #ffffff transparent;
}
div.speech.right {
    box-shadow: -2px 2px 5px #CCC;
    margin-right: 10px;
    width: 75%;
    float: right;
    background: -webkit-gradient( linear, 50% 0%, 50% 100%, from(#e4ffa7), color-stop(0.1, #bced50), color-stop(0.4, #aed943), color-stop(0.8, #a7d143), to(#99BF40) );
}
div.speech.right:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 9px;
    bottom: auto;
    left: auto;
    right: -10px;
    border-width: 9px 0 9px 10px;
    border-color: transparent #989898;
}
div.speech.right:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 10px;
    bottom: auto;
    left: auto;
    right: -8px;
    border-width: 8px 0 8px 9px;
    border-color: transparent #bced50;
}
div.speech.left {
    box-shadow: 2px 2px 2px #CCCCCC;
    margin-left: 10px;
    width: 80%;
    float: left;
    background: -webkit-gradient( linear, 50% 0%, 50% 100%, from(#ffffff), color-stop(0.1, #eae8e8), color-stop(0.4, #E3E3E3), color-stop(0.8, #DFDFDF), to(#D9D9D9) );
}
div.speech.left:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 9px;
    bottom: auto;
    left: -10px;
    border-width: 9px 10px 9px 0;
    border-color: transparent #989898;
}
div.speech.left:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 10px;
    bottom: auto;
    left: -8px;
    border-width: 8px 9px 8px 0;
    border-color: transparent #eae8e8;
}
.leftimg {
    float: left;
    margin-top: 10px;
    width: 40px;
}

.leftd {
    clear: both;
    float: left;
    width: 500px;
    padding-left: 40px;
}

.clear {
    clear: both;
}