<link rel="stylesheet" href="/bower-libs/comment-core-library/build/style.css"/>
<script src="/bower-libs/comment-core-library/build/CommentCoreLibrary.js" ></script>
<div id="dmscreen-background">
<div id="head-img" class="head-img"></div>
<div id='my-player' class='abp'style="width:100%;height:100px;">
    <div id='my-comment-stage' class='container' style="width:100%;height:100px;"></div>
</div>
<div id="news"/>
</div>
<script>
$(function(){
    var CM = new CommentManager(document.getElementById('my-comment-stage'));
    CM.init();
    CM.start();
    start = new Date().getTime();
    tmr = setInterval(function(){
        playhead = new Date().getTime() - start;
        CM.time(playhead);
    },42);

    var socket = io('/dmScreen');
    socket.on('DM', function (data) {
        var comment = {
            sound_id: 0,
            border: false,
            color: '#ffffff',
            date: parseInt(new Date().getTime()/1000),
            dbid: 1,
            hash: "D5332364",
            mode: 1,
            pool: 0,
            position: "absolute",
            size: 25,
            stime: 0,
            text: data
        };
        CM.send(comment);

    });

    //var test = '<img class="leftimg" src="http://static.missevan.cn/avatars/icon01.png">';


    socket.on('PIC', function (data, user, icon) {
        var test = '<img class="leftimg" src="/img/icon/'+icon+'.png">';
        $('#news').prepend('<div class="leftd">' + test +
                '<div class="speech left" >'+
                '<img style="width:100%" src="'+data+'"/>'+
                '</div></div>'
        );
        console.log(user);
    });

    socket.on('NEWS', function(data, user, icon) {
        var test = '<img class="leftimg" src="/img/icon/'+icon+'.png">';
        $('#news').prepend( '<div class="leftd">' + test +
                '<div class="speech left" >'+data+'</div>'+
        '</div>');
        console.log(user);
    });

});
</script>