<div style="
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -100px 0 0 -68px;
"><img src="/img/404.jpg">
<div>呵呵，什么也没有找到</div>
<a href="/dmScreen">转到弹幕页</a>
<a href="/dmScreen/backend">转到后台</a></div>