<div class="mobile-background">
<div class="mobile-input-box">
    <div class="centerinput">
        <input class="form-control" id="sendDm"/>
    </div>
    <div class="centerinput">
        <botton  id="click" class="btn btn-danger" style="width:100%;">发送弹幕</botton>
    </div>
</div>
</div>
<script>
$(function(){
    var socket = io('<%=locals.host%>/sendDm');

    $('#click').click(function(){
        socket.emit('DM', $('#sendDm').val());
        $('#sendDm').val('');
    });

});
</script>