<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/bower-libs/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/backend.css">
    <script src="/bower-libs/jquery/dist/jquery.min.js"></script>
    <script src="/bower-libs/jquery/jquery.easing.js"></script>
    <script src="/bower-libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
</head>
<body>
<%- body %>
</body>
</html>