<form class="centerinput" action="/dmScreen/backend" method="post">
    <div class="centerinput">
        <strong>用户名</strong>
        <input class="form-control" name="user">
    </div>
    <div class="centerinput">
        <strong>密码</strong>
        <input class="form-control" name="password">
    </div>
    <div class="centerinput">
        <button style="width:100%;" class="btn btn-danger" type="submit">登陆</button>
    </div>
</form>