<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bower-libs/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/backend.css">
    <script src="/bower-libs/jquery/dist/jquery.js"></script>
    <script src="/bower-libs/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body class="bodyPic">
<%- body %>
</body>
</html>